[Desktop Entry]
Version=0.2.5
Type=Application
Terminal=false
Icon[en_GB]=/usr/share/BareShare/icons/bareshare-dark.png
Name[en_GB]=BareShare
Exec=python /usr/share/BareShare/bareshare.py
Name=BareShare
Icon=/usr/share/BareShare/icons/bareshare-dark.png
